:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #f5f5f5;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background: #242424;
  color: #ffffff;

  padding-left: 10px;
  padding-right: 10px;
}

/* 全体中央コンテンツ */
main {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
}

/* ヘッダー */
header {
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;

  border-radius: 10px;

  background-color: rgba(5, 90, 127, 0.9);

  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* タイトル */
h1 {
  text-align: center;

  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 2.5rem;
  line-height: 1.2;
}

/* テキスト */
p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* ナビリンク */
a {
  font-weight: 500;
  color: #e5e5ef;
  text-decoration: none;

  transition: 0.2s;
}

a:hover {
  color: #7aa2ff;
}

/* ボタン */
button {
  border-radius: 8px;
  border: none;

  padding: 12px 20px;

  font-size: 1rem;

  background-color: #1a1a1a;
  color: white;

  cursor: pointer;

  transition: 0.25s;
}

button:hover {
  background-color: #646cff;
}

/* Footer */
footer {
  margin-top: 50px;

  text-align: center;

  padding: 20px;

  color: #cccccc;
}

/* スマホ */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    padding: 12px;
  }
}
